Source: contrail-smgr-client
Maintainer: tsurendra <tsurendra@juniper.net>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends: debhelper (>= 8)

Package: contrail-smgr-client
Architecture: amd64
Maintainer: ts <tsurendra@juniper.net>
Depends: python
Section: contrail-smgr-client
Priority: extra
Description: Contrail Systems Server Manager Client
