#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export WS := $(shell pwd)
export LD_LIBRARY_PATH := $(LD_LIBRARY_PATH):debian/contrail-control/usr/lib64/contrail:debian/contrail-libs/usr/lib64/contrail
export BUILDTIME := $(shell date -u +%y%m%d%H%M)
export src_path := ./../
export build_root := debian/contrail-smgr-client
BUILDTAG =
ifdef TAG
BUILDTAG = $(TAG)
else
BUILDTAG = $(BUILDTIME)
endif

%:
	dh $@

override_dh_auto_build: 
	echo "auto_build"
override_dh_auto_install: 
	# Cleanup directories
	rm -rf $(build_root)/opt/contrail/server_manager/client/
	
	# Install directories
	install -d -m 755 $(build_root)/opt/contrail/server_manager/
	install -d -m 755 $(build_root)/opt/contrail/server_manager/client/

	# Copy/install files
	cp -r $(src_path)/client/*.py $(WS)/$(build_root)/opt/contrail/server_manager/client/
	cp -r $(src_path)/client/*.json $(WS)/$(build_root)/opt/contrail/server_manager/client/
	cp -r $(src_path)/utils/create_smgr_db.py $(WS)/$(build_root)/opt/contrail/server_manager/client/
	cp -r $(src_path)/client/server-manager $(WS)/$(build_root)/opt/contrail/server_manager/client/
	cp -r $(src_path)/client/sm-client-config.ini  $(WS)/$(build_root)/opt/contrail/server_manager/client/

	echo "auto_install"
get-orig-source:
	uscan --verbose --rename --destdir=$(WS)

