#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export WS := $(shell pwd)
export LD_LIBRARY_PATH := $(LD_LIBRARY_PATH):debian/contrail-control/usr/lib64/contrail:debian/contrail-libs/usr/lib64/contrail
export BUILDTIME := $(shell date -u +%y%m%d%H%M)
export src_path := ./../
export build_root := debian/contrail-smgr
python_version=$(python -c "import sys; print '%s.%s' % sys.version_info[0:2]")
python_dir=python$python_version
BUILDTAG =
ifdef TAG
BUILDTAG = $(TAG)
else
BUILDTAG = $(BUILDTIME)
endif

%:
	dh $@

override_dh_auto_build:
	echo "auto_build"
override_dh_auto_install:
	# Cleanup directories
	rm -rf $(build_root)/opt/contrail/server_manager
	rm -rf $(build_root)/etc

	# Install directories
	install -d -m 755 $(build_root)/opt/contrail/server_manager/
	install -d -m 754 $(build_root)/etc/init.d/
	install -d -m 754 $(build_root)/etc/contrail_smgr/
	install -d -m 754 $(build_root)/usr/sbin/
	install -d -m 755 $(build_root)/etc/puppet/
	install -d -m 755 $(build_root)/etc/cobbler

	# Copy/install files
	cp -r $(src_path)/server_mgr_main.py $(WS)/$(build_root)/opt/contrail/server_manager/
	cp -r $(src_path)/server_mgr_db.py  $(WS)/$(build_root)/opt/contrail/server_manager/
	cp -r $(src_path)/server_mgr_cobbler.py  $(WS)/$(build_root)/opt/contrail/server_manager/
	cp -r $(src_path)/server_mgr_puppet.py  $(WS)/$(build_root)/opt/contrail/server_manager/
	cp -r $(src_path)/server_mgr_exception.py  $(WS)/$(build_root)/opt/contrail/server_manager/
	cp -r $(src_path)/server_mgr_logger.py  $(WS)/$(build_root)/opt/contrail/server_manager/
	cp -r $(src_path)/smgr_dhcp_event.py  $(WS)/$(build_root)/opt/contrail/server_manager/
	cp -r $(src_path)/sm-config.ini  $(WS)/$(build_root)/opt/contrail/server_manager/
	cp -r $(src_path)/tags.ini  $(WS)/$(build_root)/etc/contrail_smgr/
	cp -r $(src_path)/client  $(WS)/$(build_root)/opt/contrail/server_manager/
	cp -r $(src_path)/contrail-server-manager.start  $(WS)/$(build_root)/usr/sbin/contrail-server-manager
	cp -r $(src_path)/third_party/bottle.py  $(WS)/$(build_root)/opt/contrail/server_manager/
	cp $(src_path)/contrail-server-manager.u  $(WS)/$(build_root)/etc/init.d/contrail-server-manager
	cp -r $(src_path)/puppet  $(WS)/$(build_root)/etc/contrail_smgr/
	cp -r $(src_path)/repos/contrail-centos-repo $(WS)/$(build_root)/etc/contrail_smgr/
	cp -r $(src_path)/cobbler  $(WS)/$(build_root)/etc/contrail_smgr/
	cp -r $(src_path)/kickstarts  $(WS)/$(build_root)/etc/contrail_smgr/
	cp -r $(src_path)/client/sm-client-config.ini  $(WS)/$(build_root)/etc/contrail_smgr/

	echo "auto_install"
get-orig-source:
	uscan --verbose --rename --destdir=$(WS)


