#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export WS := $(shell pwd)
export LD_LIBRARY_PATH := $(LD_LIBRARY_PATH):debian/contrail-control/usr/lib64/contrail:debian/contrail-libs/usr/lib64/contrail
export BUILDTIME := $(shell date -u +%y%m%d%H%M)
export src_path := ./../
BUILDTAG =
ifdef TAG
BUILDTAG = $(TAG)
else
BUILDTAG = $(BUILDTIME)
endif

%:
	dh $@

override_dh_auto_build: 
#	sed -i 's,BUILDTAG,$(BUILDTAG),g' $(WS)/debian/changelog
#	cd ~/rpmbuild/SOURCES/contrail-smgr/contrail-ui; make package
	echo "auto_build"
override_dh_auto_install: 
	# Cleanup directories
	rm -rf debian/contrail-smgr/opt/contrail/server_mgr
	rm -rf debian/contrail-smgr/etc
#	rm -rf debian/contrail-smgr/usr/lib64/node_modules
#	rm -rf debian/contrail-smgr/etc/contrail
#	rm -rf debian/contrail-smgr/var/log/contrail
	
	# Install directories
	install -d -m 755 debian/contrail-smgr/opt/contrail/server_manager/
	install -d -m 754 debian/contrail-smgr/etc/init.d/
	install -d -m 754 debian/contrail-smgr/etc/contrail/
	install -d -m 754 debian/contrail-smgr/usr/sbin/
#	install -d -m 755 debian/contrail-smgr/usr/lib64/node_modules
#	install -d -m 755 debian/contrail-smgr/etc/contrail
#	install -d -m 755 debian/contrail-smgr/var/log/contrail
	
	# Copy/install files
	cp -r $(src_path)/server_mgr_main.py $(WS)/debian/contrail-smgr/opt/contrail/server_manager/
	cp -r $(src_path)/server_mgr_db.py  $(WS)/debian/contrail-smgr/opt/contrail/server_manager/
	cp -r $(src_path)/server_mgr_cobbler.py  $(WS)/debian/contrail-smgr/opt/contrail/server_manager/
	cp -r $(src_path)/server_mgr_puppet.py  $(WS)/debian/contrail-smgr/opt/contrail/server_manager/
	cp -r $(src_path)/smgr_dhcp_event.py  $(WS)/debian/contrail-smgr/opt/contrail/server_manager/
	cp -r $(src_path)/server_config.ini  $(WS)/debian/contrail-smgr/opt/contrail/server_manager/

	cp -r $(src_path)/smgrd.start  $(WS)/debian/contrail-smgr/usr/sbin/smgrd

	cp -r $(src_path)/third_party/bottle.py  $(WS)/debian/contrail-smgr/opt/contrail/server_manager/
	
	cp $(src_path)/smgrd.u  $(WS)/debian/contrail-smgr/etc/init.d/smgrd
#	cp $(src_path)/smgrd.sbin $(WS)/debian/contrail-smgr/usr/sbin/smgrd
	cp -r $(src_path)/puppet  $(WS)/debian/contrail-smgr/etc/contrail/
	cp -r $(src_path)/repos/puppet-repo  $(WS)/debian/contrail-smgr/etc/contrail/
	cp -r $(src_path)/cobbler  $(WS)/debian/contrail-smgr/etc/contrail/
	cp -r $(src_path)/kickstarts  $(WS)/debian/contrail-smgr/etc/contrail/

	echo "auto_install"
get-orig-source:
	uscan --verbose --rename --destdir=$(WS)

